<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coffeemember.mapper.MemberMapper">

    <update id="createMemberTable" parameterType="MemberVO">
        create table member(
            id number primary key,
            memberName varchar2(50)
        )
    </update>

</mapper>